html
  head
    title Login Page
    link(rel="stylesheet", type="text/css", href="styles.css")

  body
    .login-container
      h1 Login
      form(action="/loginSubmit", method="post")
        label(for="username") Username:
        input(type="text", name="username", id="username", required)
        br
        label(for="password") Password:
        input(type="password", name="password", id="password", required)
        br
        input(type="submit", value="Login")

      
      if message
        p.message= message